# Виртуальное окружение
venv/
__pycache__/
*.py[cod]
*$py.class

# Локальные файлы разработки
.env
.env.*
!.env.example

# Файлы базы данных
*.sqlite
*.db

# Файлы логов
*.log

# Временные файлы
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Файлы загрузок и отчетов
static/uploads/
static/reports/
static/avatars/

# Файлы Docker
.docker/

# Файлы системы
.coverage
htmlcov/
.pytest_cache/