{% extends 'base.html' %}

{% block title %}Доступ запрещён{% endblock %}

{% block content %}
<div class="flex items-center justify-center bg-gray-300 shadow-xl rounded-2xl">
    <div class="bg-gray-300 shadow-xl rounded-2xl p-10 max-w-xl text-center">
        <h1 class="text-4xl font-bold text-red-600 mb-4">Ошибка 403</h1>
        <p class="text-gray-700 text-lg mb-6">У вас нет прав для просмотра этой страницы.</p>
        <a href="{{ url_for('user_blueprint.home') }}"
           class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-xl transition duration-300">
            Вернуться на главную
        </a>
    </div>
</div>
{% endblock %}
