<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Проектное управление{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('project_list') }}">Проекты</a>
        <a href="{{ url_for('kanban') }}">Kanban-доска</a>
        <a href="{{ url_for('charts') }}">Диаграммы</a>
        <a href="{{ url_for('reports') }}">Отчёты</a>

        {% if current_user.team_id %}
        <a href="{{ url_for('team_detail', team_id=current_user.team_id) }}" class="btn">Команда</a>
      {% else %}
        <a href="{{ url_for('edit_team') }}" class="btn">Команда</a>
      {% endif %}
      

        {% if current_user.is_authenticated %}
        
            <a href="{{ url_for('update_profile') }}" class="btn"> Профиль</a>
            <a href="{{ url_for('dashboard') }}" class="btn">Личный кабинет</a>
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="btn">Войти</a>
            <a href="{{ url_for('register') }}" class="btn">Зарегистрироваться</a>
        {% endif %}
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>