{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen px-4">
  <div class="w-full max-w-md bg-zinc-800 p-8 rounded-xl shadow-xl space-y-6">
    <h2 class="text-2xl font-bold text-white text-center">Регистрация</h2>

    <form method="POST" class="space-y-4">
      <input type="text" name="username" placeholder="Имя пользователя" required
             class="w-full px-4 py-3 rounded-lg bg-zinc-900 text-white border border-gray-700 focus:outline-none focus:border-white-500">
      <input type="email" name="email" placeholder="Email" required
             class="w-full px-4 py-3 rounded-lg bg-zinc-900 text-white border border-gray-700 focus:outline-none focus:border-white-500">
      <input type="password" name="password" placeholder="Пароль" required
             class="w-full px-4 py-3 rounded-lg bg-zinc-900 text-white border border-gray-700 focus:outline-none focus:border-white-500">

      

      <button type="submit"
              class="w-full bg-green-600 hover:bg-green-700 text-white font-medium py-3 rounded-lg transition">
         Зарегистрироваться
      </button>
    </form>

    <p class="text-sm text-center text-gray-400">
      Уже есть аккаунт?
      <a href="{{ url_for('user_blueprint.login') }}" class="text-blue-400 hover:underline">Войти</a>
    </p>
  </div>
</div>
{% endblock %}
